<!--<h1>Lista postów:</h1>
<ul>
    <li ng-repeat="post in posts">
    	<h1>
        	<a href="/angularWordpress/#!/{{post.slug}}">
            	Link do Angulara: {{post.title.rendered}}
        	</a>
        </h1>
        <h3>
        	<a href="{{post.link}}">
            	Link do Wordpressa: {{post.title.rendered}}
        	</a>
        </h3>

        <span>Napisano: {{post.date}}</span><br/>
        <span>Post type: {{post.type}}</span>
        <p style="margin-top:20px;">{{post.content.rendered | htmlToPlaintext}}</p>-->
        <!--<p><a href="{{post.link}}#respond">Wordpress: Leave a comment</a></p>-->
    <!--</li>
</ul>-->

<h1>Categories</h1>
<ul>
    <li ng-repeat="category in data.categories">
        <span ng-if="current_category_id && category.ID == current_category_id" ng-bind-html="category.name"></span>
        <a ng-if="!current_category_id || category.ID != current_category_id" href="category/{{category.slug}}" ng-bind-html="category.name"></a>
    </li>
</ul>
 
<p>{{data.pageTitle}}</p>
<ul>
    <li ng-repeat="post in data.posts">
        <a href="/{{post.slug}}" ng-bind-html="post.title"></a>
        <a href="/{{post.slug}}" ng-if="post.featured_image_thumbnail_url"><img ng-src="{{post.featured_image_thumbnail_url}}" alt="{{post.featured_image.title.rendered}}" /></a>
        <div ng-bind-html="post.excerpt.rendered"></div>
    </li>
</ul>